@import url('https://fonts.googleapis.com/css?family=Gothic+A1|Kaushan+Script|Libre+Baskerville|Lobster');

.body {
    font-family: 'Gothic A1', sans-serif;
    font-size: 16px;
}

p {
    color: #6c6c6f;
    font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
    color: #323233;
    text-transform: uppercase;
}

.navbar-brand span {
    color: #fed136;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.1em;
    font-family: 'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;
}

.navbar-brand {
    color: #fff;
    font-size: 30px;
    font-family: 'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;
    font-weight: 700;
    letter-spacing: 0.1em;
}

.navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
    font-size: 120%;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;
    font-family: 'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;
    /*font-family: 'Gothic A1', sans-serif;*/
}

    .navbar-nav .nav-item .nav-link:hover {
        color: #fed136;
    }

.navbar-expand-md .navbar-nav .dropdown-menu {
    border-top: 3px solid #fed136;
}

.dropdown-item:hover {
    background-color: #fed136;
    color: #fff;
}

nav {
    -webkit-transition: padding-top .3s,padding-bottom .3s;
    -moz-transition: padding-top .3s,padding-bottom .3s;
    transition: padding-top .3s,padding-bottom .3s;
    border: none;
}

.shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #A9A9A9;
    opacity: 0.8;
}

.banner {
    background-image: url('http://www.hd-freewallpapers.com/latest-wallpapers/abstract-website-backgrounds.jpg');
    text-align: center;
    color: #fff;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
    height: 800px;
}

.banner-text {
    padding: 200px 0 150px 0;
}

.banner-heading {
    font-family: 'Lobster', cursive;
    font-size: 75px;
    font-weight: 700;
    line-height: 100px;
    margin-bottom: 30px;
    color: #fff;
}

.banner-sub-heading {
    /*font-family: 'Libre Baskerville', serif;*/
    /*font-family: 'Gothic A1', sans-serif;*/
    font-family: 'Lobster', cursive;
    font-size: 35px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 50px;
    color: #fff;
}

.btn-banner {
    padding: 5px 20px;
    border-radius: 10px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}

.text-intro {
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
}


/* mobile view */
@media (max-width:500px) {
    .navbar-nav {
        background-color: #000;
        border-top: 3px solid #fed136;
        color: #fff;
        z-index: 1;
        margin-top: 5px;
    }

        .navbar-nav .nav-item .nav-link {
            padding: 0.7em 1em !important;
            font-size: 100%;
            font-weight: 500;
        }

    .banner-text {
        padding: 150px 0 150px 0;
    }

    .banner-heading {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 20px;
    }

    .banner-sub-heading {
        font-size: 10px;
        font-weight: 200;
        line-height: 10px;
        margin-bottom: 40px;
    }
}

@media (max-width:768px) {
    .banner-text {
        padding: 150px 0 150px 0;
    }

    .banner-sub-heading {
        font-size: 23px;
        font-weight: 200;
        line-height: 23px;
        margin-bottom: 40px;
    }
}


html {
    background: #222;
}

.laser-beam {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 3px;
    height: 500%;
    background: rgba(99, 195, 231, 0.6);
    -webkit-box-shadow: 0px 0px 15px 0px #63c3e7;
    -moz-box-shadow: 0px 0px 15px 0px #63c3e7;
    box-shadow: 0px 0px 15px 0px #63c3e7;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-animation: laser 7s infinite;
}

    .laser-beam.red {
        -webkit-animation: laser 7.5s infinite;
        background: #ee6e9f;
        -webkit-box-shadow: 0px 0px 15px 0px #ee6e9f;
        -moz-box-shadow: 0px 0px 15px 0px #ee6e9f;
        box-shadow: 0px 0px 15px 0px #ee6e9f;
    }

    .laser-beam.purple {
        -webkit-animation: laser 7.3s infinite;
        background: rgba(204, 102, 255, 0.6);
        -webkit-box-shadow: 0px 0px 15px 0px #cc66ff;
        -moz-box-shadow: 0px 0px 15px 0px #cc66ff;
        box-shadow: 0px 0px 15px 0px #cc66ff;
    }

    .laser-beam.green {
        -webkit-animation: laser 7.7s infinite;
        background: #88dba3;
        -webkit-box-shadow: 0px 0px 15px 0px #88dba3;
        -moz-box-shadow: 0px 0px 15px 0px #88dba3;
        box-shadow: 0px 0px 15px 0px #88dba3;
    }

@-webkit-keyframes laser {
    0% {
        -moz-transform: rotate(-75deg);
        -ms-transform: rotate(-75deg);
        -webkit-transform: rotate(-75deg);
        transform: rotate(-75deg);
    }

    50% {
        -moz-transform: rotate(75deg);
        -ms-transform: rotate(75deg);
        -webkit-transform: rotate(75deg);
        transform: rotate(75deg);
    }

    100% {
        -moz-transform: rotate(-75deg);
        -ms-transform: rotate(-75deg);
        -webkit-transform: rotate(-75deg);
        transform: rotate(-75deg);
    }
}
 
