
@{
    ViewBag.Title = "Camera";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="wrapper">

    <div class="main-panel">


        <div class="content">
            <div class="container-fluid">
                <iframe src="http://172.20.10.4:8000/?action=stream" width="500" height="500" frameborder="0" scrolling="no"></iframe>



            </div>
        </div>
    </div>
</div>
